
  

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Online Admission Instruction </title>
<script src="<?=base_url()?>public/js/faq.js" ></script>
       
     



</head>

<div class="container">
            <div class="row">
                <div class="col-md-2">
   <div class="list-group">
  
   <a href="form" class="list-group-item "><span class="glyphicon glyphicon-edit"> </span>Fillup form </a>
     
   <a href="login" class="list-group-item   ">Print form</a>
   <a href="Send" class="list-group-item " >Send Application form</a>
</div>  

<body id = "faq">


                </div>
               <div class="col-md-10">












<div id = "container">
<center><div class = "well"><h3> Online Admission Instruction </h3></div></center>

<div class = "title"><h3> Instruction for Filling form</h3> </div>
<ul id = "faq">

<li class = "q"><img src  = "<?=base_url()?>public/images/play.jpg?>  " width = "30px" />How do I correct a mistake on the application form ?</li> 
<li class = "a"> You may send an email to the college of zone stating the fields which need corrections</li> 

<li class = "q"><img src  = "<?=base_url()?>public/images/play.jpg?>  " width = "30px" />I have not printed out the completed online application form, should I submit another application ?</li> 
<li class = "a"> The automatic system email acknowledgement / application slip is sufficient to replace the online application form. We are able to track down your application with the application number.</li> 

<li class = "q"><img src  = "<?=base_url()?>public/images/play.jpg?>  " width = "30px" />How will i be able to check on the status of my application ?</li> 
<li class = "a"> After we receive and process your application, we will send you information about activating your
online Account. Through this account you will be able to check the receipt of required.
application materials.</li> 

<li class = "q"><img src  = "<?=base_url()?>public/images/play.jpg?>  " width = "30px" />What file type should my documents be in ?</li> 
<li class = "a"> You can upload JPEG, PNG, GIF format through the ‘Upload image and sign’ section of the online admission system.</li> 

<li class = "q"><img src  = "<?=base_url()?>public/images/play.jpg?>  " width = "30px" />How do I know if my application was submitted ?</li> 
<li class = "a"> When the application is submitted you will have the opportunity to view a PDF copy. You will also receive an e-mail notifying you that your application has been submitted. You will receive a second e-mail shortly afterward to notify you that your application has been uploaded into our system.  After your application has been successfully submitted you may check the status of your application in your account.</li> 

<li class = "q"><img src  = "<?=base_url()?>public/images/play.jpg?>  " width = "30px" /> DD to be made in favor of ?</li> 
<li class = "a">university computer center udaipur. </li> 


</ul>

</div>
</div>
</div>
</div>	
<center>
<a href = "form"><input type = "button" value = "Back" id = "back" > </a>
</center>

</body>
</html>